{
  "presets": ["react", ["env", {
      "test": {
        "plugins": [ "istanbul" ]
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-object-rest-spread"
  ]
}
