*.*ignore text eol=lf
*.acl text eol=lf
*.cfg text eol=lf
*.cfignore text eol=lf
*.conf text eol=lf
*.css text eol=lf
*.cto text eol=lf
*.dockerignore text eol=lf
*.editorconfig text eol=lf
*.eslintignore text eol=lf
*.feature text eol=lf
*.go text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.npmignore text eol=lf
*.nvmrc text eol=lf
*.pegjs text eol=lf
*.pem text eol=lf
*.rb text eol=lf
*.scss text eol=lf
*.sh text eol=lf
*.tmpl text eol=lf
*.ts text eol=lf
*.txt text eol=lf
*.uml text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf