#language: node_js
script: bash tools/buildFilesDev.sh
deploy:
  provider: releases
  prerelease: true
  api_key: 
    secure: U686pUH+A5baQXLUsDSB6RQxuITysZ8LUOjmPxvujQWBztfmL9QJ2rL8BtpAEblWczISB4MApFtTQx2BaE73SMSomLxMYa8IloYSPkx87gxbuzGXRcJctBkmA/m4ZCda1lM4TT+KTvqA7qE95HdWBlYliXnQPzByiGFWrEi25pA1wU3QcHPgmqwiNJAxQs6A9G46hha1QZBSpTZZRrOVUEbQqVifFDoxcvgyIxbprU+VNe+qGatxvvSKRfeEQ9QvMZM4GxSVgujWggI8T9c3EIeE/hxm2STYj4GAZDJQdpmN2IvAJuN2zVgkNj4N8fi2Oli09nxiTKZnn+Gs8Z8AbeL/UmTvHpVfRsg4dVsCMJMgt3e73JV9YXJrUl9N8XjFZAWQHiZomOhd5K6Sg1GzpQnBEy0EGXiOK7lG9779+IY5G0hHT0FXeA304Kaq+vXnnCiXV3XTZR+BYfyS1M79pPzqY+QJVgttue+30I0NFSpPtTbWUh7l5Pu71L6atStcX/yFP/BI7jUTWDX6KftEMqx/7DH5BEchmYok69VDKBGn4cbMHFOLtUBP+DZO5HSjdRFwHIF7+cSdaf6Fnnj1u4U55bUvrz1h5hEGrE6weldraVmy6cKbPWd6YJKvQZX4pM6ZY0/qqyrw3pygmo8Okvg92heQHQH5g46oDIquqr8=
  file_glob: true
  file: builds/*
  skip_cleanup: true
  on:
    all_branches: true
    tags: true