h1 {
    border-bottom: 1px solid grey;
    padding-bottom: 4px;
	  text-align: center;
}

td {
	margin: 5px;
	border-collapse: collapse;
  max-height: 10px;
}

table {
	width: 100%;
}

input {
	margin-top: 5px;
	margin-bottom: 2px;
}

button:hover {
	cursor: pointer;
}

.cursorPoint:hover {
  cursor: pointer;
  filter: invert(50%);
}

#tableContainer {
	margin-top: 2em;
	margin-bottom: 2em;
	height: 15em;
	overflow: auto;
	border: 1px solid black;
}

.removeIcon {
	margin-left: .5em;
	margin-right: 1em;
}
.removeIcon:hover {
	cursor: pointer;
	opacity: 0.5;
	transition-duration: 0.15s;
}
.content {
	padding-left: 12em;
	width: 40em;
}
#welcomeContent h2 {
	font-size: 3rem;
}

#welcomeContent span {
	font-weight: bold;
}

input[type="number"] {
    width: 5em;
}
.file-upload {
  color: #337ab7;
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  border-radius: 4px;
}

input[type="file"] {
    display: none;
}
#menu {
	width: 10em;
	background-color: #26292E;
	height: 100%;
	position: fixed;
}

.pure-menu {
	padding-top: 2em;
}

.pure-menu-item {
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

.pure-menu-item:hover {
	cursor: pointer;
	transition: background-color;
	transition-duration: 0.15s;
	background-color: grey;
}
.pure-menu-item span {
	color: #C1C1B4;
	font: message-box;
}

.pure-menu-selected {
	background: grey !important;
	background-color: grey;
	border-style: none none none solid;
	border-left-color: #0288D1;
}

 /* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    animation-duration: 1s;
}

.alert.success {
	background-color: #4CAF50;
}
.alert.info {
	background-color: #2196F3;
}
.alert.warning {
	background-color: #ff9800;
}
/* The close button */
.removeButton {
    /*
    color: white;
    float: right;
    */
    font-weight: bold;
    font-size: 2em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 10px;
}

/* When moving the mouse over the close button */
.removeButton:hover {
    color: grey;
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

.tooltipCustom {
  font-size: 18px;
  font-weight: 700;
  color: #777;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}

.tooltipCustom:hover {
  cursor: pointer;
}
