name: Tagged Test Builds

on:
  push:
    tags:
      - 'v[0-9].[0-9]+.[0-9]+-alpha*'
      - 'v[0-9].[0-9]+.[0-9]+-beta*'

jobs:
  all_jobs:
    name: Tests, Builds, Coverage, Release Uploads
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: '14.x'
      - name: Install Dependencies (npm ci)
        run: npm ci
      - name: Run Tests
        run: npm run test -- --verbose
      - name: Run Lint
        run: npm run lint
      - name: Ensure Version is Updated
        run: node ./tools/replaceVersionNumber.js
      - name: Run Build
        run: npm run build
        env:
          GITSHA: ${{ github.event.after }}
      - name: Codecov.io Coverage upload
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
          file: ./coverage/*
          token: ${{ secrets.CODECOV_TOKEN }} # Optional as it is open source repo
      - name: Coveralls.io Coverage Upload
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: GitHub Releases
        id: github_releases
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            builds/Cookie-AutoDelete_*_Chrome.zip
            builds/Cookie-AutoDelete_*_Firefox.xpi
          body: This is an automatically generated test build.  See commits for changes.
          prerelease: true
