name: CI

on:
  push:
    branches-ignore:
      - '_archived__**'
  pull_request_target:
    branches-ignore:
      - '_archived__**'
    paths-ignore:
      - '**/README.md'

jobs:
  pre_info:
    name: Initial Checks
    runs-on: ubuntu-latest
    outputs:
      skipCI: ${{ steps.checkci.outputs.result }}
      gitSHA: ${{ steps.checkci.outputs.gitSHA }}
    steps:
      - name: Run CI Check
        id: checkci
        env:
          GH_API: ${{ github.event.repository.commits_url }}
          GH_GH: ${{ toJson(github) }}
          GH_SHA: ${{ github.event.after }}
          PR_FIRSTSHA: ${{ github.event.pull_request.head.sha }}
          PR_NUM: ${{ github.event.pull_request.number }}
        run: |
          echo "Run ID    : $GITHUB_RUN_ID"
          echo "Event Name: $GITHUB_EVENT_NAME"
          echo "PR_NUM    : $PR_NUM"
          EXP_REF="ds\/(.*)$"
          if [[ $GITHUB_REF =~ $EXP_REF ]]; then
            GH_REF=${BASH_REMATCH[1]}
          fi
          REF=$([[ $GITHUB_HEAD_REF ]] && echo $GITHUB_HEAD_REF || echo $GH_REF)
          echo "HEAD_REF  : $GITHUB_HEAD_REF"
          echo "GITHUB_REF: $GITHUB_REF"
          echo "GH_REF    : $GH_REF"
          echo "Branch    : $REF"
          GH_SHA=$([[ $GH_SHA ]] && echo $GH_SHA || echo $PR_FIRSTSHA)
          echo "::set-output name=gitSHA::$GH_SHA"
          echo "Commit SHA: $GH_SHA"
          echo "PR Head SHA: $PR_FIRSTSHA"
          SKIP_A=$([[ "$REF" == l10n_* ]] && echo true || echo false)
          echo "Starts With l10n_ :  $SKIP_A"
          GH_API=${GH_API/'{/sha}'/}
          echo "API: $GH_API"
          CM=$(curl -s $GH_API/$GH_SHA | jq -r '.commit.message')
          echo "Commit Message: $CM"
          EXP_SKIP="\[ci skip]"
          SKIP_B=$([[ "$CM" =~ $EXP_SKIP ]] && echo true || echo false)
          echo "Skip via Commit: $SKIP_B"
          RES=$([[ $SKIP_A == true || $SKIP_B == true ]] && echo true || echo false)
          echo "Skip CI:  $RES"
          echo "::set-output name=result::$RES"
  all_jobs:
    name: Tests, Builds, Coverage
    runs-on: ubuntu-latest
    needs: pre_info
    if: needs.pre_info.outputs.skipCI == 'false'
    steps:
      - name: Checkout Default Commit
        if: github.event_name != 'pull_request_target'
        uses: actions/checkout@v3
      - name: Checkout Specific REF Commit
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.pre_info.outputs.gitSHA }}
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: Get Node Version
        id: node
        run: |
          echo "Node Version:  $(node -v)"
          echo "::set-output name=version::$(node -v)"
      - name: Cache Node Modules
        id: nodeCache
        uses: actions/cache@v3
        with:
          # npm cache files stored in `~/.npm` on Linux
          path: ~/.npm
          key: ${{ runner.os }}-nodejs-${{ steps.node.outputs.version }}-npm-${{ hashFiles('**/package.json', '**/package-lock.json') }}
      - name: Install dependencies from cache (npm --cache-min install)
        if: steps.nodeCache.outputs.cache-hit == 'true'
        run: npm --cache-min 9999999 install
      - name: Install dependencies (npm ci)
        if: steps.nodeCache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Run Tests
        run: npm run test -- --verbose
      - name: Run Lint
        run: npm run lint
      - name: Run Build
        run: npm run build
        env:
          GITSHA: ${{ needs.pre_info.outputs.gitSHA }}
      - name: Archive Code Coverage Results
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: coverage
      - name: Codecov.io Coverage upload
        id: codecov_action
        uses: codecov/codecov-action@v3
        continue-on-error: true
        with:
          fail_ci_if_error: true
          directory: ./coverage/
          token: ${{ secrets.CODECOV_TOKEN }} # Optional as it is open source repo
      - name: Codecov.io Coverage Upload for pull_request_target
        id: codecov_prt
        uses: codecov/codecov-action@v3
        continue-on-error: true
        if: steps.codecov_action.outcome == 'failure' && github.event_name == 'pull_request_target'
        with:
          fail_ci_if_error: true
          directory: ./coverage/
          token: ${{ secrets.CODECOV_TOKEN }}
          override_pr: ${{ github.event.number }}
          override_commit: ${{ github.event.pull_request.head.sha }}
      - name: Coveralls.io Coverage Upload
        id: coveralls_action
        uses: coverallsapp/github-action@1.1.3
        if: github.event_name != 'pull_request_target'
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Coveralls.io Coverage Upload for pull_request_target
        id: coveralls_prt
        uses: coverallsapp/github-action@1.1.3
        continue-on-error: true
        if: github.event_name == 'pull_request_target'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          git-commit: ${{ github.event.pull_request.head.sha }}
      - name: Extract zip builds for individual artifact upload
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        id: extbuilds
        run: |
          for i in *.zip; do echo "${i%.zip}"; done | xargs -I fn unzip fn.zip -d fn
          echo "::set-output name=ffdir::$(ls -d *Firefox)"
          echo "::set-output name=crdir::$(ls -d *Chrome)"
        working-directory: ./builds
      - name: Upload Artifact for Mozilla Firefox Build
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.extbuilds.outputs.ffdir }}
          path: builds/${{ steps.extbuilds.outputs.ffdir }}
      - name: Upload Artifact for Google Chrome Build
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.extbuilds.outputs.crdir }}
          path: builds/${{ steps.extbuilds.outputs.crdir }}
      - name: Hide old PR Build Comments
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        uses: kanga333/comment-hider@v0.3.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Get Workflow and Artifact Variables
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        id: gwa
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          CSI=$(curl -s "$GITHUB_API_URL/repos/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" | jq -r '.check_suite_id')
          echo "::set-output name=csi::$CSI"
          ARTS=($(gh api -H "Accept: application/vnd.github.v3+json" repos/{owner}/{repo}/actions/runs/$GITHUB_RUN_ID/artifacts | jq -r '[.artifacts[] | select(.name != "coverage") | select(.expired == false) | {id,name,created_at,expires_at}] | to_entries | map("\(.value)") | reduce .[] as $item(" "; . + ($item) + " ")'))
          if [[ ${#ARTS[@]} -eq 0 ]]; then
            echo "No artifacts found.  Check action logs for details."
            echo "::set-output name=result::FAILED"
            exit 0
          fi
          echo "Number of artifacts: ${#ARTS[@]}"
          MDT="| Filename | Time Created | Expiry Time (available up to max $GITHUB_RETENTION_DAYS days from creation time) |<br />| --- | --- | --- |<br />"
          for i in "${ARTS[@]}"; do
            read AID ANAME ACREATED AEXPIRY < <(echo $i | jq -r '.id, .name, .created_at, .expires_at')
            ANAME=$(echo $i | jq -r '.name')
            AID=$(echo $i | jq -r '.id')
            ACREATED=$(echo $i | jq -r '.created_at')
            AEXPIRY=$(echo $i | jq -r '.expires_at')
            echo $ANAME $AID $ACREATED $AEXPIRY
            MDT+="[$ANAME]($GITHUB_SERVER_URL/$GITHUB_REPOSITORY/suites/$CSI/artifacts/$AID) | ${ACREATED/T/' @ '} UTC | ${AEXPIRY/T/' @ '} UTC | <br />"
          done
          echo "::set-output name=result::SUCCESS"
          echo "::set-output name=links::$MDT"
            - name: Create PR Build Comment
        if: steps.gwa.outputs.result != 'SUCCESS' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## Pull Request Build: ${{ github.run_id }}

            - based on latest commit: ${{ needs.pre_info.outputs.gitSHA }}

            Unsigned webextension builds for testing is ready for download!
            These test builds are only kept for *up to 90 days* from the date of this post.
            It is strongly recommended to use a fresh profile for testing these builds to prevent any kind of modifications to existing data.

            ### Generating Download Links

            - `/get-build` for the latest commit build.
            - `/get-build ${{ github.run_id }}` for this specific commit ${{ github.event.after }} build.

            ---

            *When new command comment is posted, please allow a few seconds for the command to be received and processed.*
            - :eyes: indicates that command has been received.
            - :rocket: indicates that command has been sent for further processing.
            - :tada: indicates that command has been executed.  Expect a new comment with the result shortly.

            *Due to API limitations, generated links will only be valid for one minute!*
          reactions: heart
      - name: Create PR Build Comment
        if: steps.gwa.outputs.result == 'SUCCESS' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## Pull Request Build: ${{ github.run_id }}

            - based on latest commit: ${{ needs.pre_info.outputs.gitSHA }}

            Unsigned webextension builds for testing is ready for download!
            These test builds are only kept for *up to 90 days* from the date of this post.
            It is strongly recommended to use a fresh profile for testing these builds to prevent any kind of modifications to existing data.

            ### Clickable Download Links

            ${{ steps.gwa.output.links }}

            If the links above do not work, try commenting with the command below.

            ### Generating Download Links (Backup)

            - `/get-build` for the latest commit build.
            - `/get-build ${{ github.run_id }}` for this specific commit ${{ github.event.after }} build.

            ---

            *When new command comment is posted, please allow a few seconds for the command to be received and processed.*
            - :eyes: indicates that command has been received.
            - :rocket: indicates that command has been sent for further processing.
            - :tada: indicates that command has been executed.  Expect a new comment with the result shortly.

            *Due to API limitations, generated links will only be valid for one minute!*
          reactions: heart
